{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="text-center">
    <h1 class="my-4">Select an Operation</h1>
    <div class="container d-flex justify-content-center" style="min-height: 100vh;">
    <ul class="list-group">
        {% for category in categories %}
        <li class="list-group-item">
            <a href="{{ url_for('analyze', category=category) }}" class="btn btn-primary btn-block">
                {{ category }}
            </a>
        </li>
        {% endfor %}
    </ul>
    </div>
</div>
{% endblock %}