{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="text-center">
    <h1 class="my-4">Select an Operation</h1>
    <div class="container">
    <div class="d-flex justify-content-center mb-4">
    <ul class="list-group">
        <li class="list-group-item">
            <a href="{{ url_for('read') }}" class="btn btn-primary btn-block">
                Read Data
            </a>
        </li>
        <li class="list-group-item">
            <a href="{{ url_for('categories') }}" class="btn btn-primary btn-block">
                Process Data
            </a>
        </li>
    </ul>
    </div>
            <!-- Second Title -->
        <h2 class="my-4">Or</h2>

        <!-- Second List -->
        <div class="d-flex justify-content-center">
            <ul class="list-group">
                <li class="list-group-item">
                    <a href="{{ url_for('create_workflow') }}" class="btn btn-primary btn-block">
                        Create a Workflow
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}
