{% extends "base.html" %}

{% block title %}Queue{% endblock %}

{% block styles %}
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/dataTables.bootstrap5.min.css">
{% endblock %}

{% block content %}
<div class="container mt-4">
<h2 class="mb-4">Current SLURM Queue</h2>
    <div class="table-responsive">
        <table id="slurm-table" class="table table-striped table-bordered">
            <thead class="table-dark">
                <tr>
                    <th>Job ID</th>
                    <th>User</th>
                    <th>Job Name</th>
                    <th>Partition</th>
                    <th>State</th>
                    <th>Time</th>
                    <th>Priority</th>
                </tr>
            </thead>
            <tbody>
                {% for job in queue %}
                <tr>
                    <td>{{ job["Job ID"] }}</td>
                    <td>{{ job["User"] }}</td>
                    <td>{{ job["Job Name"] }}</td>
                    <td>{{ job["Partition"] }}</td>
                    <td>{{ job["State"] }}</td>
                    <td>{{ job["Time"] }}</td>
                    <td>{{ job["Nodes"] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
{% block scripts %}
<!-- <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>-->
  <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
  <script src="https://cdn.datatables.net/1.13.6/js/dataTables.bootstrap5.min.js"></script>
  <script>
    $(document).ready(function () {
      $('#slurm-table').DataTable({
        paging: false,
        order: [[0, 'asc']],  // Default sort by Job ID
        info: true,
        dom: '<"top"f i>rt',
        searching: true,
        // pageLength: 25
      });
    });
  </script>
{% endblock %}